<!-- Meu CSS -->
<link rel="stylesheet" href="css/estilo.css">

<!-- Navbar -->
<nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-darkred">
    <div class="container ml">
      <i class="fas fa-camera-retro"></i>
      <a class="navbar-brand" href="/">
        <span class="ml-2 text-pacifico font-title">Album</span>
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <img class="icon" src="./img/home.png" alt="Início">
        <li class="nav-item">
          <a class="nav-link mr-3" href="/home">Início</a>
        </li>
        <img class="icon" src="./img/images.png" alt="images">
        <li class="nav-item">
          <a class="nav-link mr-3" href="/imagens">Minhas imagens</a>
        </li>
        <img class="icon" src="./img/sum.png" alt="Adição">
        <li class="nav-item">
          <a class="nav-link mr-3" href="/imagens/new">Nova imagem</a>
        </li>
        <img class="icon" src="./img/login.png" alt="logar">
        <li class="nav-item">
            <a class="nav-link mr-3" href="/">Login / Logout</a>
          </li>    
      </ul>
    </div>  
    </div>
  </nav>
</nav>

